<div class="info">
    <div class="container-big">
        <div class="info__wrapper flex">
            <div class="info__content">
                <h1 class="title">Выдача градостроительного плана земельного участка</h1>
                <p class="info__text text text_dark">Градостроительный план земельного участка выдается в&#160;целях обеспечения субъектов градостроительной деятельности информацией, необходимой 
                    для <br/>архитектурно-строительного проектирования, строительства, реконструкции объектов капитального строительства в&#160;границах земельного участка.
                </p>
            </div>
            <div class="info__departament">
                <svg width="64" height="64">
                    <use xlink:href="./img/svg/icon.svg#crest"></use>
                </svg>
                <p class="info__subtitle text-small"><b>Услугу предоставляет</b></p>
                <p class="info__name text-small">Орган местного самоуправления</p>
            </div>
        </div>
    </div>
</div>