<header class="header">
  <div class="container-big">
    <div class="header__wrapper flex-all-sb">
      <div class="logo flex-v-center">
        <svg width="31" height="56">
          <use xlink:href="./img/svg/icon.svg#logo"></use>
        </svg>
        <span class="logo__title text">Услуги и&#160;сервисы Пермского&#160;края</span>
      </div>
      <div class="panel flex-v-center">
        <div class="user flex-v-center">
          <svg width="24" height="24">
            <use xlink:href="./img/svg/icon.svg#user"></use>
          </svg>
          <span class="user__name text">Константинопольский К.К</span>
        </div>
        <button class="text" type="button">Выйти</button>
      </div>
    </div>
  </div>
</header>
